:root{
    --color-bg: #16161a;
    --color-bgl2: #242629;
    --color-paragraph: #94a1b2;
    --color-stroke: #010101;
    --color-main: #fffffe;
    --color-highlight: #7f5af0;
    --color-secondary: #72757e;
    --color-secondary-shadow: rgb(114, 117, 126, .5);
    --color-tertiary: #2cb67d;
}
