/* Анимация затемненного объекта (при наведении становится светлее или темнее) */

.in-shadow{
    opacity: 0.65;
    transition: opacity .6s ease-out;
}

.in-shadow:hover{
    opacity: 1;
}

.to-shadow{
    opacity: 1;
    transition: opacity .6s ease-out;
}

.to-shadow:hover{
    opacity: 0.5;
}

.in-darkness{
    opacity: 0.25;
    transition: opacity 1s ease-out;
}

.in-darkness:hover{
    opacity: 1; 
}

/* SVG анимация движущейся рамки при наведении */

svg line{
    -webkit-transition: all .6s;
	transition: transform .6s, stroke 2s;
}

.ava.move-border:hover line.top{
    -webkit-transform: translateX(-400px);
    transform: translateX(-50%);
}

.ava.move-border:hover line.right{
    -webkit-transform: translateY(-400px);
    transform: translateY(-88%);
}

.ava.move-border:hover line.bottom{
    -webkit-transform: translateX(400px);
    transform: translateX(50%);
}

.ava.move-border:hover line.left{
    -webkit-transform: translateY(400px);
    transform: translateY(88%);
}

/* Анимация границ кнопки */

button{
    transition: .5s ease-out;
}

button::after, button::before{
    transition: .5s ease-out;
}

button:hover::after{
    width: 0;
}

button:hover::before{
    height: 0;
}

/* Анимация появляющегося текста на кнопке. Это обычная анимация появления 
границ у кнопки, только текст по z-index находится под кнопкой. Плюс пропадают границы */

.fade-in{
    z-index: 1;
    transition: all .6s ease-out;
}

.fade-in *{
    z-index: 0;
    opacity: 0;
    transition: all .6s ease-out;
}

.fade-in:hover {
    border: 1px solid var(--color-bg);
}

.fade-in:hover *{
    opacity: 1;
}

/* Анимация границ main */

main::after, main::before{
    transition: 1s ease-in;
}

main{
    /* transition: all 1s ease-in; */
}

main:hover{
    /* border: 2px solid var(--color-bg); */
}

main:hover::after{
    width: 0%;
    height: 0%;
}

main:hover::before{
    width: 0%;
    height: 0%;
}

/* Анимация затухания границ */

.border-out{
    transition: all 1s ease-in;
}

.border-out:hover{
    border: 2px solid var(--color-bg);
}