@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('./__colors.css');
@import url('./__spaces.css');
@import url('./__typhography.css');
@import url('./preloader.css');
@import url('./animations.css');

/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-main);
    background-color: var(--color-bg);   
    overflow-x: hidden; 
}

.container-slide{
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

svg text{
    fill: var(--color-main);
    font-size: var(--text-xl);
}

/* Styles */

a{
    color: var(--color-main);
    text-decoration: none;
}

button{
    color: inherit;
    background-color: inherit;
    border: 1px solid var(--color-secondary);
    padding: var(--space-sm);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-description .slide-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

button *{
    z-index: 100;
}

button::after, button::before{
    position: absolute;
    content: '';
    background-color: var(--color-bg);
}

button::after{
    width: 10vw;
    height: 7vh;
}

button::before{
    width: 13vw;
    height: 5vh;
    /* background: var(--color-main); */
}

.button-bordered{
    border: 1px solid var(--color-main);
}

.dropdown{
    cursor: pointer;
    margin-bottom: var(--space-unit)
}

.dropdown-content{
    display: none;
    position: absolute;
    padding: 5px;
    width: 300px;
    font-size: var(--text-sm);
    background-color: var(--color-bg);

    border: 1px solid var(--color-secondary);
}

.dropdown-content a{
    display: block;
    padding-bottom: 5px;
    transition: .1s ease-in;
}

.dropdown-content a:hover{
    background-color: var(--color-secondary-shadow);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.arrow{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid var(--color-secondary);
    border-right: 2px solid var(--color-secondary);
}

.arrow-right{
    transform: rotate(45deg);
}

.void-button{
    border: 1px solid var(--color-secondary);
    border-radius: 3px;
    background-color: transparent;
    color: var(--color-main);
    padding: 2px 5px;
}

.lotos-tag{
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none; 
    z-index: 100500;
}

/* Typhograpy */

h2{
    font-size: var(--text-xxxl);
    font-weight: normal;
    margin: 0 0;
}

h6{
    margin: 0;
}

/* SVG */

svg line{
    stroke-width: 3;
    stroke: var(--color-secondary);
}

.ava.move-border line.top, .ava.move-border line.bottom{
    stroke-dasharray: 35% 65%;
}

.ava.move-border line.right, .ava.move-border line.left{
    stroke-dasharray: 60%;
}

/* Helpers */

.w-100{
    width: 100%;
}

.mb-0{
    margin-bottom: 0;
}

.m-0{
    margin: 0;
}

.p-0{
    padding: 0;
}

/* First slide */

.first-view{
    background-color: var(--color-bg);
    height: 100vh;
}

.slide-ava{
    display: flex;
    width: 210px;
    height: 280px;
    /* border: 1px solid var(--color-secondary); */
    padding: 3px 5px;
    margin: auto;
}

.slide-description{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 210px;
    margin: auto;
}

.slide h2{
    font-size: var(--text-md);
}

.last{
    margin: 20px auto 0 auto;
    /* padding: 1vh 3vw; */
}

/* Main */

main{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    /* padding: 20px 0; */
    border: 2px solid var(--color-secondary);
}

main > *{
    z-index: 10;
    /* margin: 20px; */
}

main:after{
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    top: -10px;
    right: -5px;
    background-color: var(--color-bg);
    /* background-color: teal; */
    z-index: 0;
}

main:before{
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    bottom: -10px;
    left: -5px;
    background-color: var(--color-bg);
    /* background-color: teal; */
    z-index: 0;
}

article section{
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-secondary-shadow);
    border-radius: 5px;
}

section h2{
    margin-bottom: 25px;
}

/* ASIDE */

aside{
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    flex-basis: 40%;
    background-color: var(--color-bg);
    height: 100vh;
    top: 0;
}

article{
    width: 100%;
    background-color: var(--color-bg);
}

.aside-ava{
    position: relative;
    width: 210px;
    height: 280px;
    margin: 20px auto;
    /* border: 1px solid var(--color-secondary); */
}

.aside-ava img{
    position: relative;
    width: 100%;
    height: 100%;
}

.contacts-list{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
    margin: 10px;
}

.aside-ava > *{
    z-index: 10;
}

.aside-nav{
    position: sticky;
    align-self: flex-start;
    /* flex: auto; */
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    top: 0;
}

.aside-nav a{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);
    padding: 5px;
    margin-top: 5px;
    border-left: 1px solid var(--color-secondary);
    border-top: 1px solid var(--color-secondary);
}

/* Education */

.timeline{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.event{
    width: 45%;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    color: var(--color-main);
    background-color: var(--color-bg);
    padding: 0 10px;
}

.event.right{
    align-self: flex-end;
}

.event.left{
    align-self: flex-start;
    text-align: end;
}

/* SKILLS */

.skills h4{
    text-align: center;
}

.skills-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    margin: 10px;
}

/* PORTFOLIO */

.portfolio header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-block{
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--color-secondary-shadow);
    border-radius: 5px;
}

.project-description{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

.portfolio h3{
    margin: 0 0 30px 0;
}

/* FOOTER */

footer {
    position: relative;
    padding: 100px 30px;
    min-height: 400vh;
    background: linear-gradient(to bottom, var(--color-bg), var(--color-bgl2));

    display: flex;
    justify-content: space-between;
}

footer .inspiration h4 {
    margin: 0;
}

footer .inspiration ul{
    list-style-type: none;
    padding: 0;
}

footer .inspiration ul li {
    margin: 10px 0;
}

footer .socials {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .socials img {
    width: 32px;
}

footer .socials #vk{
    width: 24px;
}

footer img.hero {
    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode:soft-light;
}

/* Mobil */

@media only screen and (max-width: 575.97px){
    button{
        width: auto;
        height: auto;
        padding: 0 5px;
        opacity: 1;
    }

    button:after, button:before{
        content: none;
    }

    .slide-nav{
        flex-direction: column;
        margin: 20px;
        gap: 10px;
    }

    .in-shadow, .in-darkness{
        opacity: 1;
    }

    aside{
        display: none;
    }

    .aside-nav{
        display: none;
    }

    main {
        margin: 0;
        border: none;
    }

    section h2 {
        text-align: center;
    }

    .timeline {
        margin: 5px;
        width: 100%;
    }

    .timeline p{
        font-size: var(--text-xs);
    }

    .timeline .event div {
        font-size: var(--text-xs);
    }

    .portfolio header{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .portfolio-block {
        margin: 0;
    }

    .portfolio .project-description {
        grid-template-columns: 1fr;
        gap: 0;
        row-gap: 20px;
    }

    .portfolio .project-description ul li{
        font-size: var(--text-sm);
    }

    .fade-in *{
        opacity: 1;
    }
}

/* Media */

@media (min-width: 575.98px){
    button{
        min-width: 13vw;
        height: 7vh;
    }

    button *{
        font-size: var(--text-sm);
    }

    .container-slide{
        padding: 0%;
    }

    .lotos-tag{
        font-size: var(--text-sm);
    }

    .slide h2{
        font-size: var(--text-lg);
    }

    .slide-description{
        margin: 0;
    }

    .slide-nav{
        width: 90%;
        margin-top: auto;
    }

    .slide-description{
        width: 100%;
        margin: auto;
    }

    .timeline p{
        font-size: var(--text-sm);
    }

    aside{
        display: none;
    }

    .main-list li{
        font-size: var(--text-md);
    }
  }
  
  @media (min-width: 767.98px){
    button *{
        font-size: var(--text-md);
    }

    .container-slide{
        padding: 5% 5% 5% 5%;
    }

    .slide-ava{
        width: 300px;
        height: 400px;
    }

    .slide h2{
        font-size: var(--text-xl);
    }

    .slide-nav{
        width: 100%;
        margin-top: auto;
    }

    .lotos-tag{
        display: initial;
    }

    aside{
        display: block;
    }

    .main-list li{
        font-size: var(--text-xs);
    }

    .contacts-list{
        font-size: var(--text-xs);
    }

    .skills-list{
        font-size: var(--text-xs);
    }
  }
  
  @media (min-width: 991.98px) {
    .slide h2{
        font-size: var(--text-xxl);
    }

    .timeline p{
        font-size: var(--text-md);
    }

    .main-list.skills li{
        font-size: var(--text-xs);
    }

    .main-list li{
        font-size: var(--text-xs);
    }
    
  }
  
  @media (min-width: 1199.98px){
    button *{
        font-size: var(--text-xl);
    }

    .slide h2{
        font-size: var(--text-xxxl);
    }

    .slide-nav{
        width: 80%;
    }

    .contacts-list{
        font-size: var(--text-base-size);
    }

    .skills-list{
        font-size: var(--text-base-size);
    }
  }